<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Car Rental</title>
    <link href="stylesheets/screen.css" rel="stylesheet" type="text/css" media="screen"/>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" media="screen"/>
    <link rel="stylesheet" href="nivo-slider/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="nivo-slider/default/nivo-slider.css" type="text/css" media="screen" />
  </head>

  <body>
  <header>
    <div class="container">
      <a href="/">
        <h1>Bazooka</h1></a>
      <nav>
        <ul class="last">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/our_services">Our Services</a>
          </li>
          <li>
            <a href="/our_mission">Our Mission</a>
          </li>
          <li>
            <a href="/about_us">About Us</a>
          </li>
          <li>
            <a href="/contact_us">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <span class="clearfix"></span>
  <section>
    <h2>Gallery</h2>
  </section>
  <span class="clearfix"></span>

  <hr />

  <section id="from_blog" class="container">
    <div class="part1 span-8">
      <h2>Our Services</h2>
      <ul>
        <li>Sed diam voluptua</li>
        <li>At vero eos et accusam</li>
        <li>justo duo dolores et ea rebum</li>
        <li>Stet clita kasd gubergren</li>
        <li>rebum. Stet clita kasd</li></ul>
    </div>
  </section>

  <span class="clearfix"></span>
  <footer>
    <div id="top">
      <div class="container">
        <div id="footer_logo" class="span-8">logo</div>
        <div id="social_icons" class="span-8">
          <h2>Stay connected</h2>
          <ul>
            <li>
              <a href="#"><img src="images/SOCIAL-ICON_03.jpg" width="32" height="32" alt="facebook"></a></li>
            <li>
              <a href="#"><img src="images/SOCIAL-ICON_03.jpg" width="32" height="32" alt="facebook"></a></li>
            <li>
              <a href="#"><img src="images/SOCIAL-ICON_03.jpg" width="32" height="32" alt="facebook"></a></li>
            <li>
              <a href="#"><img src="images/SOCIAL-ICON_03.jpg" width="32" height="32" alt="facebook"></a></li>
          </ul>
        </div>
        <div id="in_touch" class="span-8 last">
          <h2>Get in touch</h2>
          <p>
            <b>email</b> : contact@miftah.com<br>
            <b>Tel</b> : 0123456789 |
            <b>Fax</b> : 0123456789</p>
        </div></div>
    </div>
    <div id="bottom">
      <span class="container clear">
				Copyright 2013 by
        <b>Miftah</b>, all rights reserved
        <span class="right last">Design by :
          <a href="http://ws-templates.com">ws-templates.com</a></span>
      </span>
    </div>
  </footer>
  <script type="text/javascript" src="javascripts/jquery-1.7.1.min.js"></script>
  <script type="text/javascript" src="javascripts/jquery.nivo.slider.js"></script>
  <script type="text/javascript">
    $(window).load(function() {
      $('#slider').nivoSlider();
    });
  </script>
</body>
</html>