
<span class="clearfix"></span>
<section class="container web-content">
  <%= @protection_package_details_page.content rescue '' %>
</section>

<span class="clearfix"></span>

<hr />

<span class="clearfix"></span>