
<span class="clearfix"></span>
<section class="container web-content">
  <%= @security_and_privacy_policy_page.content rescue '' %>
</section>

<span class="clearfix"></span>

<hr />

<span class="clearfix"></span>