development:
  adapter: mysql
  encoding: utf8
  reconnect: false
  database: csc_development
  username: root
  password: password

test:
  adapter: mysql
  encoding: utf8
  reconnect: false
  database: csc_test
  username: root
  password: password

production:
  adapter: mysql
  encoding: utf8
  reconnect: false
  database: csc_production
  username: root
  password: password
