<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @title %></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="/2033_business/tooplate_style.css" rel="stylesheet" type="text/css" />
    <script src="/assets/plugins/jquery-2.0.3.min.js"></script>
    <style>
      .csc-logo{
        height: 90px;
        width: 240px;
      }
    </style>
  </head>
  <body>

    <div id="tooplate_header_wrapper">

      <div id="tooplate_header">

        <div id="site_title">

          <h1><a href="#"><img class="csc-logo" src="/images/csc.jpg" alt="Creative Solutions Consulting" /></a></h1>

        </div> <!-- end of site_title -->

        <div id="header_phone_no">
			Phone: <span>+265(0) 998 267424</span>
        </div>

        <div class="cleaner_h10"></div>

        <div id="tooplate_menu">

          <div id="home_menu"><a href="/"></a></div>

          <ul>
            <li><a href="/" id="home">Home</a></li>
            <li><a href="/about_us" id="about-us">About Us</a></li>
            <li><a href="/our_services" id="services">Services</a></li>
            <li><a href="/our_solutions" id="solutions">Solutions</a></li>
            <li><a href="/contact_us" id="contact">Contact</a></li>
          </ul>

        </div> <!-- end of tooplate_menu -->

      </div>
    </div> <!-- end of header_wrapper -->

    <div id="tooplate_middle_wrapper1">
      <div id="tooplate_middle_wrapper2">
        <div id="tooplate_middle">

          <h1>BE ACTIVE<span>with the best coffee</span></h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut lorem id mauris cursus pellentesque. Donec lobortis magna at orci blandit ac lobortis ipsum vestibulum.</p>

          <a href="#"><span>+</span> More</a>

        </div>
      </div>
    </div>

    <div id="tooplate_main">

      <div id="tooplate_content">
        <%= yield %>

      </div>

      <div id="tooplate_sidebar">

        <h2>Our Services</h2>

        <ul class="tooplate_list">
          <li><a href="#">Praesent turpis erat</a></li>
          <li><a href="#">Curabitur ullamcorper</a></li>
          <li><a href="#">Pellentesque adipiscing</a></li>
          <li><a href="#">Cras rutrum ullamcorper</a></li>
          <li><a href="#">Mattis vel tempor eu</a></li>
          <li><a href="#">Praesent diam mauris</a></li>
          <li><a href="#">Vivamus risus massa</a></li>
          <li><a href="#">Sodales nec bibendum eu</a></li>
          <li><a href="#">Mauris sapien magna</a></li>
          <li><a href="#">Etiam sit amet est arcu</a></li>
        </ul>
        <div class="button"><a href="services.html">View All</a></div>

        <div class="cleaner_h60"></div>

        <h2>Testimonial</h2>

        <blockquote>
          <p>Aliquam tristique, lectus nec condimentum egestas, neque erat posuere purus, sed interdum elit est.</p>

          <cite>Smith - <span>Web designer</span></cite>
        </blockquote>

      </div>

      <div class="cleaner"></div>
    </div>

    <div class="cleaner"></div>

    <div id="tooplate_footer_wrapper">

      <div id="tooplate_footer">

        Copyright © 2017 <a href="#">Creative Solutions Consulting</a>

      </div> <!-- end of tooplate_footer -->

    </div>
    <script>
      
    </script>
  </body>
</html>