<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @title %></title>
    <meta name="keywords" content="Consulting, consultancy in Malawi, CSC, Creative Solutions Consulting" />
    <meta name="description" content="Creative Solutions Consulting (CSC) is a business solutions driven firm providing turnkey solutions. We offer professional and expert advice in different areas of research that need critical attention. Our main objective is to use research to provide economic, social and environmental solutions that influence policy formulation and amendments in order to achieve economic growth. " />
    <meta name="google-site-verification" content="PdnZ9kveLK2MknSxlYYYbIdQMBxCZam4whPyjXv1P3U" />
    <link href="/2033_business/tooplate_style.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/simpletextrotator.css" rel="stylesheet" type="text/css" />
    <script src="/assets/plugins/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.simple-text-rotator.js"></script>
    <style>
      .csc-logo{
        height: 90px;
        width: 240px;
      }

      #tooplate_middle h1 {
        color: #fff;
        font-size: 44px;
        font-weight: normal;
        letter-spacing: 3px;
        padding: 50px 0 0;
        text-shadow: 1px 1px 1px #555;
      }

      #header_phone_no {
        display: inherit !important;
        float:none;
        font-size: 14px;
        font-weight: bold;
        padding-left: 13px;
        padding-top: 60px;
      }

      #header_phone_no span {
        font-size: 23px;

      }

      #header_phone_no span a {
        text-decoration: none;
        color: #019ED5 !important;
      }

      .hidden{
        display: none;
      }

    </style>
  </head>
  <body>

    <div id="tooplate_header_wrapper">

      <div id="tooplate_header">

        <div id="site_title">

          <!--<h1><a href="#"><img class="csc-logo" src="/images/csc.jpg" alt="Creative Solutions Consulting" /></a></h1>-->

        </div> <!-- end of site_title -->

        <div id="header_phone_no">
          <span><a href="/">Creative Solutions Consulting (CSC)</a></span>
        </div>

        <div class="cleaner_h10"></div>

        <div id="tooplate_menu">

          <div id="home_menu"><a href="/"></a></div>

          <ul>
            <li><a href="/" id="home">Home</a></li>
            <li><a href="/about_us" id="about-us">About Us</a></li>
            <li><a href="/our_services" id="services">Services</a></li>
            <li><a href="/investors" id="investors">Investors</a></li>
            <li><a href="/our_profile" id="profile">Profile</a></li>
            <li><a href="/contact_us" id="contact">Contact</a></li>
          </ul>

        </div> <!-- end of tooplate_menu -->

      </div>
    </div> <!-- end of header_wrapper -->

    <div id="tooplate_middle_wrapper1">
      <div id="tooplate_middle_wrapper2">
        <div id="tooplate_middle">

          <h1 style="padding-left: 35px;">Helping you achieve the best results<span></span></h1>
          <!--We believe in persistently creating better ways of doing the work we do in order to always excel<br />
          We believe in engaging in honest transactions that give a true reflection of a situation-->
          <center>
            <span class="rotate">
              We believe in persistently creating better ways of doing the work we do in order to always excel |
              We believe in engaging in honest transactions that give a true reflection of a situation |
              CSC promotes a creative work environment where employees are able to come up with innovative solutions |
              CSC believes in producing high quality work
            </span>
          </center>
          <!--<a href="/about_us"><span>+</span> More</a>-->

        </div>
      </div>
    </div>

    <div id="tooplate_main">

      <div id="tooplate_content">
        <% if flash[:notice] %>
          <p style="color: green; font-weight: bold;"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:error] %>
          <p style="color: red; font-weight: bold;"><%= flash[:error] %></p>
        <% end %>
        <%= yield %>

      </div>

      <div id="tooplate_sidebar">
        <h2>Our Vision &amp; Mission</h2>

        <ul class="tooplate_list core-values">
          <li><a href="#" onclick="expandThis('vision');">Vision</a></li>
          <span id="vision" class="hidden">
            To be the best research consulting firm that provides quality economic, social and environmental solutions 
            that will help curb youth unemployment, gender inequality and poverty thereby promoting socio-economic
            development in Malawi
          </span>
          <li><a href="#" onclick="expandThis('mission');">Mission</a></li>
          <span id="mission" class="hidden">
            To provide affordable excellent consulting services in research that will act as a catalyst for growth to
            our clients while promoting a creative and peaceful work environment.
          </span>
        </ul>

        <h2>Our Core Values</h2>

        <ul class="tooplate_list core-values">
          <li><a href="#" onclick="expandThis('excellency');">Excellency</a></li>
          <span id="excellency" class="hidden">We believe in persistently creating better ways of doing the work we do in order to always excel</span>
          <li><a href="#" onclick="expandThis('honesty');">Honesty</a></li>
          <span id="honesty" class="hidden">We believe in engaging in honest transactions that give a true reflection of a situation</span>
          <li><a href="#" onclick="expandThis('creativity');">Creativity</a></li>
          <span id="creativity" class="hidden">CSC promotes a creative work environment where employees are able to come up with innovative solutions</span>
          <li><a href="#" onclick="expandThis('quality');">Quality</a></li>
          <span id="quality" class="hidden">CSC believes in producing high quality work</span>
        </ul>

        <div class="cleaner_h60"></div>

        <h2>What we do</h2>

        <blockquote>
          <p>
            We offer professional and expert advice in different areas of research that need critical attention.
            Our main objective is to use research to provide economic, social and environmental solutions that
            influence policy formulation and amendments in order to achieve economic growth.
          </p>

        </blockquote>

      </div>

      <div class="cleaner"></div>
    </div>

    <div class="cleaner"></div>

    <div id="tooplate_footer_wrapper">

      <div id="tooplate_footer">

        Copyright © 2017 <a href="#">Creative Solutions Consulting</a>

      </div> <!-- end of tooplate_footer -->

    </div>
    <script type="text/javascript">
      function expandThis(id){
        jQuery( "#" + id ).toggleClass("hidden shown");
        if (jQuery( "#" + id ).hasClass( "hidden" )){
          jQuery( "#" + id ).hide( "slow" );
        }else{
          jQuery( "#" + id ).show( "slow" );
        }
        
      }

      window.onload = function(){
        jQuery('.core-values li a').click(function(e) {
          e.preventDefault();
        });

      }
      jQuery(".rotate").textrotator({
        animation: "flipCube", // You can pick the way it animates when rotating through words. Options are dissolve (default), fade, flip, flipUp, flipCube, flipCubeUp and spin.
        separator: "|", // If you don't want commas to be the separator, you can define a new separator (|, &, * etc.) by yourself using this field.
        speed: 5000 // How many milliseconds until the next word show.
      });
    </script>
  </body>
</html>