<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= @title %></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link href="/2033_business/tooplate_style.css" rel="stylesheet" type="text/css" />
    <script src="/assets/plugins/jquery-2.0.3.min.js"></script>
    <style>
      .csc-logo{
        height: 90px;
        width: 240px;
      }

      #tooplate_middle h1 {
        color: #fff;
        font-size: 44px;
        font-weight: normal;
        letter-spacing: 3px;
        padding: 50px 0 0;
        text-shadow: 1px 1px 1px #555;
      }

      #header_phone_no span {
        font-size: 23px;
       
      }

      #header_phone_no span a {
        text-decoration: none;
        color: #019ED5 !important;
      }
      
    </style>
  </head>
  <body>

    <div id="tooplate_header_wrapper">

      <div id="tooplate_header">

        <div id="site_title">

          <!--<h1><a href="#"><img class="csc-logo" src="/images/csc.jpg" alt="Creative Solutions Consulting" /></a></h1>-->

        </div> <!-- end of site_title -->

        <div id="header_phone_no">
          <span><a href="/">Creative Solutions Consulting (CSC)</a></span>
        </div>

        <div class="cleaner_h10"></div>

        <div id="tooplate_menu">

          <div id="home_menu"><a href="/"></a></div>

          <ul>
            <li><a href="/" id="home">Home</a></li>
            <li><a href="/about_us" id="about-us">About Us</a></li>
            <li><a href="/our_services" id="services">Services</a></li>
            <li><a href="/investors" id="investors">Investors</a></li>
            <li><a href="/our_profile" id="profile">Profile</a></li>
            <li><a href="/contact_us" id="contact">Contact</a></li>
          </ul>

        </div> <!-- end of tooplate_menu -->

      </div>
    </div> <!-- end of header_wrapper -->

    <div id="tooplate_middle_wrapper1">
      <div id="tooplate_middle_wrapper2">
        <div id="tooplate_middle">

          <h1>Helping you achieve the best results<span></span></h1>

          <p>
            To be the best research consulting firm that provides quality economic, 
            social and environmental solutions that will help curb youth unemployment, 
            gender inequality and poverty thereby promoting socio-economic development in Malawi.
          </p>

          <a href="#"><span>+</span> More</a>

        </div>
      </div>
    </div>

    <div id="tooplate_main">

      <div id="tooplate_content">
        <% if flash[:notice] %>
          <p style="color: green; font-weight: bold;"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:error] %>
          <p style="color: red; font-weight: bold;"><%= flash[:error] %></p>
        <% end %>
        <%= yield %>

      </div>

      <div id="tooplate_sidebar">

        <h2>Our Core Values</h2>

        <ul class="tooplate_list">
          <li><a href="#">Excellency</a></li>
          <li><a href="#">Honesty</a></li>
          <li><a href="#">Creativity</a></li>
          <li><a href="#">Quality</a></li>
        </ul>
        <div class="button"><a href="#">View All</a></div>

        <div class="cleaner_h60"></div>

        <h2>What we do</h2>

        <blockquote>
          <p>
            We offer professional and expert advice in different areas of research that need critical attention.
            Our main objective is to use research to provide economic, social and environmental solutions that
            influence policy formulation and amendments in order to achieve economic growth.
          </p>

        </blockquote>

      </div>

      <div class="cleaner"></div>
    </div>

    <div class="cleaner"></div>

    <div id="tooplate_footer_wrapper">

      <div id="tooplate_footer">

        Copyright © 2017 <a href="#">Creative Solutions Consulting</a>

      </div> <!-- end of tooplate_footer -->

    </div>
    <script>
      
    </script>
  </body>
</html>